<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepfake Image Detector</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <div class="container">
        <!-- Left Section (Model Training) -->
        <div class="left-section">
            <h2>Upload Dataset to Train Images</h2>
            <input type="file" id="realImages" multiple accept="image/*">
            <label for="realImages" class="btn">Upload Real Images</label>
            
            <input type="file" id="fakeImages" multiple accept="image/*">
            <label for="fakeImages" class="btn">Upload Fake Images</label>
            
            <button onclick="trainModel()">Build Model</button>
            <div id="trainingResults"></div>
        </div>

        <!-- Right Section (Prediction) -->
        <div class="right-section">
            <h2>Upload Model and Test an Image</h2>
            <input type="file" id="modelUpload" accept=".pth">
            <label for="modelUpload" class="btn">Upload Model</label>
            
            <input type="file" id="testImage" accept="image/*">
            <label for="testImage" class="btn">Upload Image</label>
            
            <button onclick="detectImage()">Fetch Results</button>
            <p id="result"></p>
        </div>
    </div>

    <script src="static\script.js"></script>
</body>
</html>
